h4 {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	
}

a:hover {
	text-decoration: none;
}

@media (min-width: 1185px) {
	.thumbnail {
		height: 520px;
	}
}

@media (max-width: 1184px) {
	.thumbnail {
		height: 450px;
	}
}

@media (max-width: 977px) and (min-width: 753px) {
	.thumbnail {
		height: 520px;
	}
}

@media (max-width: 752px) {
	.thumbnail {
		height: auto;
	}
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.glyphicon-star, .glyphicon-star-empty {
	color: #e0c600;
}

#wineFilters button {
  margin: 2px;
}