<section id='wine'>

<div class="container">
    <h3>Review:</h3>
    <form class="form" name="reviewForm" ng-submit="submitReview()">
    <div>
        <div class="form-group">
            <label for="title">Title:</label>
            <input class="form-control" name="title" type="text" ng-model="review.title">
        </div>
        <div class="form-group">
            <label for="star">Stars:</label>
            <input class="form-control" name="star" type="text" required ng-model="review.stars">
        </div>
        <div class="form-group">
            <label for="zipCode">Content:</label>
            <input class="form-control" name="content" type="text" required ng-model="review.content">
        </div>
    </div>
    <button class="btn btn-success" type="submit">Submit Review</button>
    </form>
    <pre>{{ form | json }}</pre>
</div>

</section>